.ruby-gemset
.ruby-version
.vagrant
nbproject
bin/fetch.sh
config/database.yml
config/secrets.yml
config/application.yml
log/*.log
log/*.log.tar.gz
tmp
secret
*.*.swp
*.*~
db/maptileindex/*
db/*.dump
fixtures/vcr_cassettes/*.yml
public/assets
public/uploads
public/mapimages
pgdata