<h1>Admin Page</h1>

<div class="admin-panel">
  <ul>
    <li>
      <%= link_to "All Activity", activity_path %>
    </li>
    <li>
      <%= link_to "All Comments", comments_path %>
    </li>  
    <li>
      <%= link_to "User Stats", stats_users_path %>
    </li>
    <li>
      <%= link_to "Administer Users", users_path %>
    </li>

  </ul>

</div>