<h2>Editing Map Attributes</h2>

<%= error_messages_for @map %>

<% if (@map.users.include?(current_user) || admin_authorized?) %>
   <p>&mdash; <%=  link_to 'Delete this map.', map_path(@map), method: :delete %> &mdash; </p>
<% end %>

<%= render "form" %>
<%#= render :partial => "form_remote", :locals => {:page => "edit"} %>
<%= link_to "Cancel", map_path(@map) %>