<h2>Editing Map Attributes</h2>

<%= error_messages_for @map %>

<%= render "form" %>

<div>
<%= link_to "Cancel", map_path(@map) %>

or 

<%# Maps can technically be owned by multiple people, so this could get confusing... %>
<% if (@map.users.include?(current_user) || admin_authorized?) %>
	<%=  link_to 'Delete this map', map_path(@map), method: :delete %>.
<% end %>
</div>