input.date-field{
  width:100px;
}


main {
  margin: 1.5em;
  margin-top: 0.2em;
  overflow: auto;
 
  h4 {
    font-weight: bold;
    margin-top: 24px;
  }
}


/*
* for map form
*/
div.span-12, div.span-24 {float:left;margin-right:10px;}
.span-12 {width:370px;}
.span-24 {width:910px;}
.last {margin-right:0;padding-right:0;}
div.last {margin-right:0;}
form.new_map {float: left;}
form.edit_map {float: left;}
.tiny-text {
    font-size: 0.6em;
}
.publicprivate {
    color: #C0C0C0;
    font-style: italic;
}

.tags {
  font-size: 0.8em;
}

div#to_map_notification{
  top: 2px;
  left: 48px;
  right: 118px;
  background-color:#FFFF66;
  z-index:5000;
  position: absolute;
  padding: 2px;
  line-height: 1.3em !important;
  overflow: visible !important;
  font-size: 11px !important;
}

div#to_map_notify_close{
  position: absolute;
  font-size: 17px !important;
  font-weight: bold;
  right: 4px;
  top: 1px;
  border: 2px solid gray;
  padding-bottom: 1px;
}

div#to_map_notification_inner{
 margin-right: 15px;
}

#view-maps-index-link {
  font-size: 10px;
  font-weight: normal;
}

.searchmap-popup {
font-size: 10px;
}

#geosearch {
  border: 2px solid #BBBBBB;
  padding: 5px;
}

#searchmap {
  margin-left: 2px;
  position: relative;
  z-index: 22;
	height:650px;
	border:1px solid #999999;
}


#searchmap-container{
  height: 650px;
}

#searchmap-list-block {
  width: 55%;
  overflow: auto;
  height: 100%;
  float: left;
}

#searchmap-block{
  width: 44%;
  float: right;
}

#searchmap-table td {
  font-size: 70%;
  vertical-align: top;
  padding-right: 1em;
}

#searchmap-table td.mini-map-thumb {
width: 80px;
}

#searchmap-table tfoot td {
  text-align: center;
  font-size: 110%;
}

#searchmap-table caption {
  min-width: 120px;
}

.normal { background-color: #CCCCCC }

.highlight { background-color: #8888FF }

#under-searchmap-container {
clear: both;
}

#geofrm input.geosearch-button {
font-size:110%;
font-weight:700;
overflow:visible;
padding-bottom:0;
padding-left:1em;
padding-right:1em;
}

.layermap-popup {
font-size: 10px;
}

.geosearchform div{
display: inline;
}

.geosearchform {
display: inline;
padding-bottom:5px;
}

.map-type-form {
 display: inline;
}

.map-type-form div{
 display: inline;
}

.x-panel-body-noheader {
  border-top: 0px;
  border-style: none;
}
#dig-panel {
 border: 1px solid #D0D0D0;
}


#slider {
  //background-color: orange;
  border: 1px solid #999999;
  border-radius: 4px;

  .ui-slider-range {
    background: rgb(122,188,255);
    background: -moz-linear-gradient(top, rgba(122,188,255,1) 0%, rgba(96,171,248,1) 44%, rgba(64,150,238,1) 100%);
    background: -webkit-linear-gradient(top, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%);
    background: linear-gradient(to bottom, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 );  
  }

  .ui-slider-handle {
    background: rgb(206,220,231);
    background: -moz-linear-gradient(top, rgba(206,220,231,1) 0%, rgba(89,106,114,1) 100%);
    background: -webkit-linear-gradient(top, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%);
    background: linear-gradient(to bottom, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 );
    border-radius: 4px;
  }
}

.moar-button {
width: 90%;
height: 2.7em;
}

ul.list {
  font-size:11px;
  list-style-type:disc;
  padding:0 0 0 16px;
}

.admin-only {
  color: #00FF00;
}

h1 {
font-size: 28px; 	
}

h2 {
font-size: 26px;
}

h3 {
font-size: 24px;
}

// This includes some mapstory specific tweaks as well
h1,h2,h3,h4,h5,h6 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-style: normal;
  text-transform: none;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

// Site default blue links
a {
	color: #0f6cba;
	text-decoration: none;
}

// Tab navigation is gray
.ui-tabs-nav a {
  color: #999999;
}

// Active tab link is "black"
.ui-tabs-active a {
  color: #4d4d4d;
}

.ui-widget-content a.unauthorized {
  background: #191970;
  color:#e3e3d4;
  font-weight: 600;
  padding: 6px 6px 3px 6px;
  border-radius:4px;
  text-transform:uppercase;
  font-size:80%;
  display:inline-block;
  margin-left:4px;
  border:none;

}

.ui-widget-content a.unauthorized:hover {
  background: #e3e3d4;
  box-shadow:1px 2px 4px 2px rgba(0,0,0,0.2), inset 1px 2px 4px rgba(255,255,255,0.4);;
  background: #e3e3d4;
  color:#191970;
  -moz-transition:all 0.42 ease-in-out;
  -webkit-transition:all 0.2s ease-in-out;
  transition:all 0.2s ease-in-out;
  text-decoration: none !important;
}




h1 a, h1 a:link, h1 a:visited {
	color: #000;
}

.paraMargin {
	margin-bottom: 20px;
}

.paraMargin p {
	margin-bottom: 10px;
}

p {
}
.nypl_link {
	background: #5e564b;
	font-size: small;
	padding: .2em 1em;
}

.nypl_link a, .nypl_link a:link, .nypl_link a:visited {
	color: #fff;
}


input[type="text"], input[type="password"], select {
	border-radius:4px;
	padding:4px 3px;
} 

input[type="submit"], .submitStyle  {
	padding:6px 3px 5px 3px;
	background:#888;
	color:#fff;
	cursor:pointer;
}

select {
	border:1px solid #ccc;
}

#sortable {list-style-type: none;}
#sortable li {margin: 3px 3px 3px 0; padding: 1px; float: left; width: 256px; height: 256px; font-size: 2em; text-align: center;line-height:256px; }
#sortable li img {vertical-align: middle;display: inline; }
#mapgrid {width:562px; margin:auto;}
.layer-properties * td { background-color:#ddd; margin: 2px; }
.layer-properties * td.property { width:25%;  font-style: italic; }

.addPointHighlighted{
  border: 2px solid #00F2AB;
  display:inline;
  padding:5px 3px 8px;
}
.addPoint{
  display:inline;
  padding:5px 3px 8px;

}
#rectifyNotice,#maskresult {
 text-align:center;
}

#link-map-button{
 width:20px;
 height:20px;
 float:left;
 margin-left:5px;
}
/* icons from http://www.famfamfam.com/lab/icons/silk
*/
.link-map-button-on{
float:left;
background-image: asset_url('icons/lock.png');
background-repeat:no-repeat;
}
.link-map-button-off{
float:left;
background-image:  asset_url('icons/lock_open.png');
background-repeat:no-repeat;
}
.maskresult {
font-weight: strong;
}

h1 span {
	color: #5e564b;
	vertical-align:super;
	font-size:45%;
}

#tag-cloud h4 {
font-size: 1.17em;
}

.tagCloudLink {
	background:rgba(255,255,255,0.4);
	padding:10px;
	border-radius: 6px;
}

.tagCloudLink a {
	color:#556b2f;
}

.tagCloudLink a:hover {
	color: #191970 !important;

}

.css3 {
font-size:130%;
color:#3d5b08 !important;
}

.css4 {
font-size:160%;
}

.list-item {
	padding-bottom:14px;
}

.list-item a:first-of-type {
	font-weight:600;
}

.readMore {
	font-variant:small-caps;
}

#align_form_div {
clear: both;
}

#align-accordian td.align-map-title{
  font-size: smaller;
}

ul.no_bullet
{
	list-style-type:none;
}

ul.no_bullet li
{
	margin-top:3px;
}

.fake_link {
text-decoration: underline;
float:right;
}

.activity-table {
width:100%;

}
.activity-table th {
text-align:left;
}

td.smaller {
  font-size: xx-small;
  max-width: 300px;
}

.activity-details {
width:50%;

}
.activity-details th {
text-align:left;
}

#add_layer_control {
  float:right;
  font-size: x-small;
text-decoration: underline;
}
#add_layer {
float:right;
border: dashed;
}
.usertable {
width: 100%;
}
.usertable tr.total{
  font-weight: bold;
}
div#user_stats .usertable th{
  font-weight: bold;
}

div.period {
  text-transform:uppercase;
}
div.period span.period{
   font-weight: bold;
}
.browse{
  margine: 0 1em;
}

// Main search form under header
// This is the container box all the controls and form are in.
#search-form {
	//padding: 1em;
	//background: #eeeee0;
	//border: 1px solid #ccc;
	//border-radius:6px;
	margin-bottom: 10px;
	overflow: hidden; // to clear float
  line-height:1;
}

#searchform #radio-buttons{ 
  display: inline-block;
  position: relative;
  line-height: 1.5;
  // Adjust to line up with search box
  //top: 0px;
}
#searchform input{
 margin-bottom: 26px;
}
#searchform input[type="radio"] {
  margin-bottom: 0px;
}

// Search input box
#searchform #query{
  width: 20em;
  position: relative;
  // Specify font to over-ride system UI defaults
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 0.85em;
  background: #f5f5f5;
  border: 1px solid #e7e7e7;
  border-radius: 6px;
  box-sizing: border-box;
  color: #424242;
  //font-style: italic;
  margin: 0;
  padding: 3px 8px;
  line-height: 1.5;
  top: -10px;

}

// Magnifying glass
#searchform button[type="submit"] {
  position: relative;
  left: -30px;
  top: -10px;
  background: transparent;
  border: 0;
  color: #757575;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  font-size: 14px;
  line-height: 1.42857143;
  user-select: none;
}

#search-title {
  font-size: 2em;
  font-weight: bold;
  clear: both;
}

#search-sort {
        float: right;
	clear: right;
	text-transform: lowercase;
	padding: 0.5em;
	font-size: 0.8em;
	font-weight: bold;
}

#search-pagination-top {
	text-transform: lowercase;
	padding: 0.5em;
	font-size: 0.8em;
	font-weight: bold;
  text-align: left;

}
#search-pagination-bottom {
	text-align: center;
	text-transform: lowercase;
	padding: 0.4em;
	font-size: 0.8em;
	font-weight: bold;
}

#search-pagination-bottom .pagination{
  margin-bottom: 10px;
}


.browseButtonBlock {
	float:left;
	padding-top:14px;
}

.warper_pagination {
  text-align: center;
  padding: .3em; }
.warper_pagination a, .warper_pagination span {
  padding: .2em .5em; }
.warper_pagination span.disabled {
  color: #AAA; }
.warper_pagination span.current {
  font-weight: bold;
  color: #00CC00; }
.warper_pagination a {
  border: 1px solid #DDDDDD;
  color: #002200;
  text-decoration: none; }
.warper_pagination a:hover, .warper_pagination a:focus {
  border-color: #003366;
  background: #e3e3d4;
  color: #00CC00; }
.warper_pagination .page_info {
  color: #aaa;
  padding-top: .8em; }
.warper_pagination .prev_page, .warper_pagination .next_page {
  border-width: 2px; }
.warper_pagination .prev_page {
  margin-right: 1em; }
.warper_pagination .next_page {
  margin-left: 1em; }

.warper_pagination .per_page_select {
  text-transform: none;
  font-weight: normal;
  font-size: smaller;
}

.clear{
	clear: both;        /* extend height of .main to longest column */
	height: 1px;
    overflow: hidden;   /* prevent IE expanding the container */

}

#map_list
{
  clear:right;
}
#panel-under-tabs{
  clear: both;
 /* border-right: 1px solid #776655;
  border-left: 1px solid #776655;
  border-bottom: 1px solid #776655;
 */
  padding-top:0.6em;
 position: relative;
 z-index: 10;
}

.map_links_bigger {
 font-size:100%;
	margin: .5em 0;
}

.map_links
{
	font-size:70%;
	display: block;
}

.hidden {
 display: none;
  }

.unhidden { 
display: block; 
}

#scriptout{
font-size:smaller;
font-style:italic;
color:lightGrey;
}

#advanced_form_options {
font-size:smaller;
margin-top:5px;
}

#advanced_form_options select {
font-size:smaller;
border-style:ridge;
}

#errorExplanation
{
	border:5px solid #F93;
	font-size:smaller;
	padding:10px;
}

#error_explanation
{
	border:5px solid #F93;
	font-size:smaller;
	padding:10px;
}

div.field_with_errors {
    display:inline;
}

#loading {
  font-size:1.2em;
  color:#E71C1C;
  clear:both;

}

.mapstatus, .not-map {
font-weight: bold;
}

#notice
{
  border: 3px solid #ccc;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  text-align: center;
  width: 45%;
  font-weight: 700;
  padding-top: 2px;
  padding-bottom: 2px;
}

#notice a, #error a {
  background: #191970;
  color:#e3e3d4;
  font-weight: 600;
  padding: 1px 3px 1px 3px; 
  border-radius:4px;
  text-transform:uppercase;
  font-size:80%;
  display:inline-block;
  margin-left:4px;
  border:none;
}

#notice a:hover, #error a:hover {
  box-shadow:1px 2px 4px 2px rgba(0,0,0,0.2), inset 1px 2px 4px rgba(255,255,255,0.4);;
  background: #e3e3d4;
  background:rgba(255,255,255,0.7); 
  color:#191970;
  -moz-transition:all 0.42 ease-in-out;
  -webkit-transition:all 0.2s ease-in-out;
  transition:all 0.2s ease-in-out;
}

#error
{
  border: 3px solid #eec;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  text-align: center;
  width: 45%;
  font-weight: 700;
  padding-top: 2px;
  padding-bottom: 2px;
}

/* responsive map tabs */
@media screen and (max-width: 800px) {
  .ui-tabs {font-size: 15px; }
}
@media screen and (max-width: 645px) {
  .ui-tabs {font-size: 12px;}
}


/*responsive nav tabs*/


@media screen and (max-width: 1060px) {
  #navlist li.responsive_wide{ display:none;}
}
@media screen and (max-width: 660px) {
  #navlist li.responsive_narrow{ display:none;}
}
@media screen and (max-width: 470px) {
  #navlist li.responsive{ display:none;}
}
#navlist {
	padding: 3px 0 0 1em;
	border-bottom: 1px solid #999;
	font-weight: bold;
}

#navlist li {
	display: inline;
}

#navlist li a, #navlist li span {
	padding: 3px 1em;
	margin-left: 3px;
	border: 1px solid #999;
	border-bottom: none;
	background: #e3e3d4;
	text-decoration: none;
	border-radius:4px 4px 0 0; 
	background: #ddd; 
	background:rgba(255,255,255,0.7); 
}

#navlist li a:hover {
	background: #191970; 
	color:#E3E3D4;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;

}

#navlist li span {
	background: #191970; 
	color:#E3E3D4;
	border-bottom: 1px solid #191970;
}

.star
{
	float:right;
}

.fontSmall {
	font-size: 80%;
}

.widthTh {
	width: 40%;
}

.thWidth {
	width: 50%;
}

.table0
{
	background:#EAEAD7 none repeat scroll 0;
	vertical-align:top;
}

.table1
{
	background:#FFF none repeat scroll 0;
	vertical-align:top;
}
.table2
{
	background:#F0F8FF none repeat scroll 0;
	vertical-align:top;
}

#map_table, #layer_table {
	//border: 1px solid #ccc;
	margin-bottom:10px;
  //clear: right;
	//width: auto;
  min-width: 800px;

  th {
    font-weight: 900;
    font-size: 90%;
    text-transform:uppercase;
    text-align: center;
    border-bottom: 1px solid #616161;
  }

  // First table row (headers)


  td {
    padding: 8px 15px;
    text-align: left;
    vertical-align: top;
  }
}

 #layer_table_detail td, #layer_table_detail th {
	border-top: 1px solid #ccc;
  background: #ccffcc;
	padding: 5px 15px;
	vertical-align: top;
	text-align: left;
}


#map_table a img, #layer_table a img, #results a img {
	border: 1px solid #fff;
	max-width: 102px;
	max-height: 102px;
}

#map_table a:hover img, #layer_table a:hover img, #results a:hover img {
	//border: 1px solid #bbb;
	//position: relative;
}


.layer_visibility {
font-size:smaller;
font-style:italic;
}
.map_summary, .layer_summary
{
	font-size:smaller;
}
.map_description, .layer_description
{
        margin: .2em 0 .5em;

}
.map_description span, layer_description span {
	font-style: italic;
}

#other_users {
  font-weight: bold;  
}

.maplist_title, .layer_title {
	font-size:larger;
	font-weight:700;
  color: #010;
}

.continue_link {
	margin: 1em;
}

#opacity
{
	text-align:center;
	width:2em;
	font-family:sans-serif;
	background:transparent;
	color:#000;
	border:0;
	padding:0;
}


#map, #unmap, #clipmap, #warpedmap
  {     margin-left: 2px;
        position: relative;
        z-index: 22;
	height:500px;
	border:1px solid #999999;
}

#to_map_block
{
  position: relative;
  z-index: 20;
	float:right;
      /* border:1px solid gray; */
	width:48.5%;
}

#from_map_block
{
  position: relative;
  z-index: 20;
	float:left;
	/* border:1px solid gray; */
	width:48.5%;
}

#gcp
{
	clear:both;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

#gcp input.gcp_button
{
	font-size:84%;
	font-weight:bold;
	margin-top:5px;
	padding:2px;
        /* cursor: pointer; */
        
}

#gcp input.gcp_button_highlighted
{
	font-size:84%;
	font-weight:bold;
	margin-top:5px;
	padding:2px;
        cursor: pointer;
        border: 2px solid #00F2AB;
        
}

.map {
  cursor: crosshair;
}

/* #div_gcp_form input */
/* { */
/* 	width:120px; */
/* } */


#cliphelp img {
  vertical-align:top;

}


#div_gcp_form li input
{
	border-style:solid;
	border-width:1px;
	font-size:9pt;
	width:7em;
}

#div_gcp_form .delete_button
{
	font-size:smaller;

	border-style:outset;
	width:5em;
  padding: 1px 6px;

}

#div_gcp_form .add_row_button
{
	border-style:outset;
	border-width:1px;
	font-size:9pt;
	width:5em;

}
#div_gcp_form input.warp_button
{
	font-size:110%;
	font-weight:700;
	overflow:visible;
	padding-bottom:0.2em;
	padding-left:1em;
	padding-right:1em;
}

#div_gcp_form input.button[warp_button]
{
	font-size:110%;
	width:auto;
}

#gcp_table_div {
margin-bottom: 1em;
}

table#gcp_table {
width: 100%;
border: 1px solid #000;
border-collapse:collapse;
font-size:80%;
}

table#gcp_table td {

}
table#gcp_table th {
text-align: left;
}
table#gcp_table tr {

}
table#gcp_table caption {
text-align: left;
font-weight: bold;
font-size:larger;
border: 1px solid #000;
}
table#gcp_table input {
	border-width:1px;
	font-size:9pt;
	width:10em;
}

table#gcp_table input.red {
color: #ff6a51;
}
table#gcp_table input.orange {
color: #ffd201;
}

table#gcp_table input.green {
color: #00e400;
}
table#gcp_table input.blue {
color: #00aeff; 
}

#from_map,#to_map
{
  position: relative;
  z-index: 2;
  height:420px;
  cursor: crosshair;
}
.map-off {
	border:2px solid #999999;
}
.map-on {
	border:2px solid #00f2ab;
}

.highlighted {
border:2px solid #00f2ab;
}


/* OPENLAYERS spechul stilz */
.olPopupCloseBox {
    background: transparent asset_url("close.gif") no-repeat scroll 0% 0%;
        margin-right: -3px;
    }

div.olControlMousePosition
{
	bottom:0;
	display:block;
	font-family:Arial;
	font-size:smaller;
	position:absolute;
	right:3px;
	color:red;
}

.olControlAttribution
{
	bottom:2px!important;
}

.olControlLayerSwitcher
{
	font-size:7pt!important;
}

 .olControlEditingToolbar  {
    float:right;
    right: 0px;
    height: 32px;
    width: 110px !important;
    background: #FFFFFF;
    border:1px solid gray;
}

.olControlEditingToolbar div { 
  float:right;
  width:  24px;
  height: 24px;
  margin: 5px;
}
 .olControlEditingToolbar2  {
    float:right;
    right: 0px;
    height: 32px;
    width: 155px !important;
    background: #FFFFFF;
    border:1px solid gray;
}

.olControlEditingToolbar2 div { 
  float:right;
  width:  24px;
  height: 24px;
  margin: 5px;
}

.olControlEditingToolbar .olControlDrawFeaturePointItemActive { 
  background-image: asset_url("editing_tool_bar_with_pin2.gif");
  background-repeat: no-repeat;
  background-position: -128px -23px; 
}
.olControlEditingToolbar .olControlDrawFeaturePointItemInactive { 
  background-image: asset_url("editing_tool_bar_with_pin2.gif");
  background-repeat: no-repeat;
  background-position: -128px -0px; 
}

.olControlEditingToolbar2 .olControlDrawFeatureItemActive { 
  background-image: asset_url("editing_tool_bar_with_pin2.gif");
  background-repeat: no-repeat;
  background-position: -26px -23px; 
}
.olControlEditingToolbar2 .olControlDrawFeatureItemInactive { 
  background-image: asset_url("editing_tool_bar_with_pin2.gif");
  background-repeat: no-repeat;
  background-position: -26px -0px; 
}
.olControlEditingToolbar2 .olControlModifyFeatureItemActive { 
  background-image: asset_url("editing_tool_bar_with_pin2.gif");
  background-repeat: no-repeat;
  background-position: -153px -23px; 
}
.olControlEditingToolbar2 .olControlModifyFeatureItemInactive { 
  background-image: asset_url("editing_tool_bar_with_pin2.gif");
  background-repeat: no-repeat;
  background-position: -153px -0px; 
}

.olControlEditingToolbar .olControlNavigationItemActive { 
  background-image: asset_url("editing_tool_bar_with_pin2.gif");
  background-repeat: no-repeat;
  background-position: -103px -23px; 
}
.olControlEditingToolbar .olControlNavigationItemInactive { 
  background-image: asset_url("editing_tool_bar_with_pin2.gif");
  background-repeat: no-repeat;
  background-position: -103px -0px; 
}
.olControlEditingToolbar2 .olControlNavigationItemActive { 
  background-image: asset_url("editing_tool_bar_with_pin2.gif");
  background-repeat: no-repeat;
  background-position: -103px -23px; 
}
.olControlEditingToolbar2 .olControlNavigationItemInactive { 
  background-image: asset_url("editing_tool_bar_with_pin2.gif");
  background-repeat: no-repeat;
  background-position: -103px -0px; 
}

.olControlEditingToolbar .olControlDragFeatureItemInactive {
  background-image: asset_url("editing_tool_bar_with_pin2.gif");
  background-repeat: no-repeat;
  background-position: -1px 0px;
}
.olControlEditingToolbar .olControlDragFeatureItemActive {
  background-image: asset_url("editing_tool_bar_with_pin2.gif");
  background-repeat: no-repeat;
  background-position: -1px -23px;

}
.olControlEditingToolbar2 .olControlDeleteFeatureItemInactive {
  background-image: asset_url("editing_tool_bar_with_pin2.gif");
  background-repeat: no-repeat;
  background-position: -178px 0px;
}
.olControlEditingToolbar2 .olControlDeleteFeatureItemActive {
  background-image: asset_url("editing_tool_bar_with_pin2.gif");
  background-repeat: no-repeat;
  background-position: -178px -23px;
}

fieldset#control_panel_fieldset { 
  border:1px solid green;
  padding-left: 0.3em;
  padding-right: 0.3em;
}
fieldset#control_panel_fieldset legend {
  padding: 0.2em 0.5em;
  border:1px solid green;
  color:green;
  font-size:90%;
  margin-left: 1em;
}

fieldset#control_panel_fieldset a:hover {
  color:#447a05;
} 

fieldset#control_panel_fieldset a {
  color:#222;
} 

/* Rules for the iD editor */

.id-embed {
  width: 100%;
  height: 100%;
}

#id-map {
  height: 700px;
  border: 1px solid #999999;
}

#read-only {
  padding: 0.5em;
  text-align: center;
  font-size: larger;
  font-weight: bold;
}

span.current_status{
  font-weight: bold;
}

span.subdued {
  color:grey;
  font-size:smaller;
}


.map_summary {
  .thumb {
    display: inline-block;
    height: 120px;

    img {
      height: 100%;
    }
  }

  .metadata {
    display: inline-block;
    vertical-align: top;
    margin-left: 25px;

    h2 {
      margin-top: 0;
    }

  }

}


