<footer class="site-footer clearfix">
    <div class="footer-wrapper">
        <div class="footer-column">
            <h3>SUPPORT US</h3>
            <p> MapStory.org is the free atlas of change that everyone can edit. Our work is sustained by the nonprofit <a href="http://wiki.mapstory.org/The_MapStory_Foundation" target="_self">MapStory Foundation</a> and dedicated volunteers and sponsors. Join us! </p>
            <a href="/donate" target="_self">
                <button class="button button-style-1" style="vertical-align:middle"><span>DONATE </span></button>
            </a>
        </div>
        <div class="footer-column">
            <h3>CREATE AN ACCOUNT</h3>
            <p>beta.mapstory.org is free to use for anyone age 13 and up. Sign up now!</p>
            <a href="#" data-toggle="modal" data-target="#loginModal" target="_self">
                <button class="button button-style-1" style="vertical-align:middle"><span>SIGN UP </span></button>
            </a>
        </div>
        <div class="footer-column">
            <h3>WAYS TO CONNECT</h3>
            <p>We want to hear from you! Visit <a href="https://github.com/MapStory/mapstory/wiki" target="_self">the Wiki</a> to find and share more
                resources with the community</p>
            <p>Find us on Github or Twitter.</p>
            <a href="https://github.com/MapStory/mapstory" target="_self">
                <i class="fa fa-github fa-inverse fa-2x github-icon" aria-hidden="true"></i>
            </a>
            <a href="https://twitter.com/MapStory" target="_self">
                <i class="fa fa-twitter-square fa-inverse fa-2x" style="color: #189CE6;" aria-hidden="true"></i>
            </a>
            <div class="footer-version">
                version 1.0c0
            </div>
        </div>
    </div>
</footer>