<header class="navigation" role="banner">
    <div class="navigation-wrapper container">
        
            <div class="logo-wrapper">
                <a href="/" target="_self">
                    <h1 class="site-title">
                        beta.mapstory.org
                    </h1>
                </a>
                
                    <div class="beta-tag">Beta</div>
                
            </div>
        

        <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu" aria-expanded="false" area-controls="navbar" target="_self">MENU</a>
        <nav role="navigation">
            <ul id="js-navigation-menu" class="navigation-menu">

                <li class="nav-link"><a href="/search/" target="_self">Explore</a></li>
                <li id="js-navigation-more" class="nav-link more">
                    <a href="javascript:void(0)" target="_self">Create</a>
                    <ul class="submenu">
                        
                            <li><a href="#" data-toggle="modal" data-target="#loginModal" target="_self">Import Layer</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#loginModal" target="_self">Create Layer</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#loginModal" target="_self">Upload Icons</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#loginModal" target="_self">Compose Story</a></li>
                        
                    </ul>
                </li>
                <li class="nav-link"><a href="/getstarted" target="_self">Get Started</a></li>
                <li class="nav-link"><a href="/journal/" target="_self">Journal</a></li>

                
                    <li class="nav-link"><a data-toggle="modal" data-target="#loginModal" target="_self">Log In</a></li>
                
            </ul>
            <div class="navigation-tools">
                <div class="search-bar">
                    <form action="/search/" role="search" class="ng-pristine ng-valid">
                        <div>
                            <input type="search" placeholder="Quick Search" name="q">
                            <button class="btn" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
    </div>
</header>